<!DOCTYPE html>
<html>
<head>
  <title>Katie Gielen Photography</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">Photography by Katie Gielen</a>
          </div>
      </div>
      <!-- .container -->
  </nav>

<!-- Page Content -->
  <div class="container"> 
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">iPhone Photography
          <small><i>All photos shot with iPhone SE</i></small>
        </h1>
    </div> <!-- .container -->
  </div> <!-- .row -->
    
  <!-- Pictures Row 1 -->
  <div class="row">
    <div class="col-md-6 portfolio-item">
      <a href="http://i.imgur.com/RM2ncrG.jpg">
        <img class="img-responsive" src="http://i.imgur.com/RM2ncrGl.jpg" alt=""></a><br/>
        <p>Campsite at Twin Crater Lakes in Colorado</p>
    </div> 
    <div class="col-md-6 portfolio-item">
      <a href="http://i.imgur.com/OVHH6Ho.jpg">
        <img class="img-responsive" src="http://i.imgur.com/OVHH6Hol.jpg" alt=""></a><br/>
        <p>Sunrise at Big Badlands Overlook in Badlands National Park, SD</p>
    </div>
  </div> 

  <!-- Pictures Row 2 -->
  <div class="row">
    <div class="col-md-6 portfolio-item">
      <a href="http://i.imgur.com/vTmUhib.jpg">
        <img class="img-responsive" src="http://i.imgur.com/vTmUhibl.jpg" alt=""></a><br/>
        <p>Sunset at Indian Beach in Ecola State Park, OR</p>
    </div> 
    <div class="col-md-6 portfolio-item">
      <a href="http://i.imgur.com/k1RqyS3.jpg">
        <img class="img-responsive" src="http://i.imgur.com/k1RqyS3l.jpg" alt=""></a><br/>
        <p>Sun shining through wave splash at Indian Beach in Ecola State Park, OR</p>
    </div>
  </div> 

  <!-- Pictures Row 3 -->
  <div class="row">
    <div class="col-md-6 portfolio-item"> 
      <a href="http://i.imgur.com/x0vPOtP.jpg">
        <img class="img-responsive" src="http://i.imgur.com/x0vPOtPl.jpg" alt=""></a><br/>
        <p>Ice Lake in the Wallowa Mountains, OR</p>
    </div> 
    <div class="col-md-6 portfolio-item">
      <a href="http://i.imgur.com/OXYnLMy.jpg">
        <img class="img-responsive" src="http://i.imgur.com/OXYnLMyl.jpg" alt=""></a><br/>
        <p>My friend, Tosha, and my dog, Westley, on a summer backpacking trip in Colorado</p>
    </div>
  </div> 

  <hr>
  <!-- Footer -->
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>All Images Copyright &copy; Katie Gielen 2016</p>
          </div>
      </div> 
  </footer>

  </div> <!-- .container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


<%= yield %>

</body>
</html>
